{% extends 'content.html.twig' %}

{% block title %}Edit Commutator{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h3 class="text-dark mb-4">Editar switch</h3>
        </div>
        {{ component('Breadcrumb', {
            options: [
                {label: 'Inicio', href: path('app_home')},
                {label: 'Switch', href: path('commutator_index')},
                {label: 'Editar'},
            ],
            current: 'Editar'
        }) }}
    </div>

    {{ include('commutator/_form.html.twig', {'showButton': true, 'title': title}) }}
{% endblock %}
