{% extends 'content.html.twig' %}

{% block title %}Commutator index{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h3 class="text-dark mb-4">Gestionar switch</h3>
        </div>
        {{ component('Breadcrumb', {
            options: [
                {label: 'Inicio', href: path('app_home')},
                {label: 'Switch', href: path('commutator_index')},
                {label: 'Lista'},
            ],
            current: 'Lista'
        }) }}
    </div>

    <div class="row"
         data-controller="content-loader visibility page"
         data-action="
            page:onShowFormContent->visibility#show
            page:onShowFormContent->content-loader#refreshContent
            submit-form-async:success->page#sendFormSuccess
            page:onSendFormSuccess->visibility#hide
            page:onSendFormSuccess->content-loader#refreshContent
        "
    >
        <div class="col-12" data-page-target="listContainer">
            {{ include('commutator/_list.html.twig') }}
        </div>

        <div class="w-100"></div>

        <div class="col-12"
                style="display: none;position: relative"
                data-visibility-target="target"
                data-page-target="formContainer"
                data-controller="submit-form-async"
                data-action="submit->submit-form-async#submit"
        >
            <backdrop-component class="card-backdrop d-block"></backdrop-component>
        </div>
    </div>


{% endblock %}
