{% extends 'content.html.twig' %}

{% block title %}Bienvenido{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h3 class="text-dark mb-4">Bienvenido al Sistema de Gestión de Cámaras.</h3>
        </div>
    </div>
{% endblock %}
