<div class="row"
     data-controller="content-loader visibility page" data-page-list-container-url-value="{{ list_container_url| default }}"
     data-action="
            page:onShowFormContent->visibility#show
            page:onShowFormContent->content-loader#refreshContent
            submit-form-async:success->page#sendFormSuccess
            page:onSendFormSuccess->visibility#hide
            page:onSendFormSuccess->content-loader#refreshContent
            {{ rest_data_action| default }}
        "
>
    <div class="col-12" data-page-target="listContainer">
        {{ include(list) }}
    </div>

    <div class="w-100"></div>

    <div class="col-12"
         style="display: none;position: relative"
         data-visibility-target="target"
         data-page-target="formContainer"
         data-controller="submit-form-async content-loader"
         data-action="submit->submit-form-async#submit"
         data-content-loader-event-loaded-name-value="portLoaded"
    >
        <backdrop-component class="card-backdrop d-block"></backdrop-component>
    </div>
</div>