{% extends 'content.html.twig' %}

{% block title %}Conexiones{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-8">
            <h3 class="text-dark mb-4">Conexión directa</h3>
        </div>
        <div class="col-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="#">Conexiones</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Conexión directa</li>
                </ol>
            </nav>
        </div>
    </div>

    {{ component('ConnectionSwitch',{
        data:data,
        filter: filter,
        paginator: paginator,
        amount: amountPerPage,
        page: pageNumber,
        fake: fake,
        url: app.request.attributes.get('_route'),
        connection: connection
    }) }}

    <div class="card shadow mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
            <p class="text-primary m-0 fw-bold">Camara</p>
            <div>
                <a href="#" class="btn btn-primary btn-sm active" aria-current="page">
                    <i class="fas fa-plus"></i>
                    Nuevo
                </a>
                <a href="#" class="btn btn-primary btn-sm" aria-current="page">
                    <i class="fas fa-search"></i>
                    Existente
                </a>
            </div>
        </div>
        <div class="card-body">



        </div>
    </div>

    <!-- Modal -->
    {{ component('ModalForm', {
        title: 'Agregar Switch',
        src: 'CommutatorForm',
        vars: {
            'fromComponent': true,
            'formType': 'App\\Form\\CommutatorType',
        },
        type: 'component',
        id: 'add-switch'
    }) }}
    <!-- Modal -->
{% endblock %}
