{% macro flashes() %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {{ _self.flash(label, message) }}
        {% endfor %}
    {% endfor %}
{% endmacro %}

{% macro flash(type, message, close=true) %}
    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
        {% if close %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="float: right"></button>
        {% endif %}
        <div>{{ message }}</div>
    </div>
{% endmacro %}