{% extends 'content.html.twig' %}

{% block title %}Targeta{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h3 class="text-dark mb-4">Datos de la targeta</h3>
        </div>
        {{ component('Breadcrumb', {
            options: [
                {label: 'Inicio', href: path('app_home')},
                {label: 'Targetas', href: path('card_index', {'msam':msam.id})},
                {label: 'Detalle'},
            ],
            current: 'Detalle'
        }) }}
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ card.id }}</td>
            </tr>
            <tr>
                <th>Slot</th>
                <td>{{ card.slot }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ card.name }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
