<div {{ attributes }}>

    {% if isSuccessful %}
        <span data-loading>Loading</span>
    {% endif %}

    {% if isSuccessful %}
        <h1>Welcome</h1>
    {% else %}
        {{ include('commutator/_form.html.twig') }}
    {% endif %}

</div>