body {
    /*background-color: skyblue;*/
}

.no-border-left{
    border-left:none
}

.login-text-icon{
    border-radius: 10rem 0 0 10rem;
    background-color:transparent;
    border-right:none;
}

.link-button{
    font-size: .8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
}

form.register ul{
    list-style: none;
}

form.register ul li{
    color: red;
}