<div {{ attributes }}>
    {% if masterModem %}
        {% embed "embeds/card.html.twig" %}
            {% block card_css_class %}mb-4{% endblock %}

            {% block card_header_css_class %}d-flex justify-content-between align-items-center{% endblock %}

            {% block card_title %}Modem esclavo{% endblock %}

            {% block card_header_options %}
                <div>
                    <button class="btn btn-primary btn-sm"
                            aria-current="page"
                            data-action="live#action"
                            data-action-name="removeModem()"
                    >
                        <i class="fas fa-circle"></i>
                        Modems esclavos Inactivos
                    </button>

                    <button class="btn btn-primary btn-sm"
{#                            {% if port is null %}#}
{#                                disabled#}
{#                            {% else %}#}
{#                                {% if port.equipment is not null %}disabled{% endif %}#}
{#                            {% endif %}"#}
                            {% if masterModem.getConnectedNumber() >= 4 %}disabled{% endif %}
                            aria-current="page"
                            data-bs-toggle="modal"
                            data-bs-target="#add-slave-modem"
                    >
                        <i class="fas fa-plus"></i>
                        Nuevo modem esclavo
                    </button>
                </div>
            {% endblock %}

            {% block card_body %}
                {% if port is not null %}
                    <div data-loading="addClass(d-none)">
                        {{ component('ConnectionSlaveModemTable', {connection:connection, masterModem: masterModem}) }}
                    </div>
{#                    {% if port.equipment is not null %}#}
                        <div class="row">
                            {{ component('ConnectionSlaveModemDetail', {connection:connection, port: port}) }}
                        </div>
{#                    {% endif %}#}
                {% endif %}
            {% endblock %}
        {% endembed %}

        {% if masterModem and masterModem.getConnectedNumber() < 4 %}
            <!-- Modal -->
            {{ component('ModalForm', {
                title: 'Agregar Modem',
                src: 'ConnectionSlaveModemNew',
                vars: {
                    connection:connection,
                    masterModem: masterModem
                },
                type: 'component',
                id: 'add-slave-modem'
            }) }}
            <!-- Modal -->
        {% endif %}
    {% endif %}
</div>

