<div class="row" {{ attributes }}>
    {% dump(entityId) %}
    {% if entityId is not null %}
        {{ include('components/live/connection_list/_detail_commutator.html.twig') }}

        {% set camera = data[entityId] %}
        {% if camera.modem is defined %}
            {{ include('components/live/connection_list/_detail_modem.html.twig') }}
{#</div>#}
{#<div class="row">#}
            <div class="col-4"></div>
        {% endif %}

        {{ include('components/live/connection_list/_detail_camera.html.twig') }}
    {% endif %}
</div>