<div {{ attributes.defaults(stimulus_controller('page connection-list-table')) }} data-page-target="listContainer" style="position: relative">

    {% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::Direct') %}
        {{ include('components/live/connection_list/_table_direct.html.twig') }}
    {% endif %}

    {% if connection is same as constant('App\\Entity\\Enums\\ConnectionType::Simple') %}
        {{ include('components/live/connection_list/_table_simple.html.twig') }}
    {% endif %}

    <div class="row">
        {{ component('ConnectionListDetail', {connection: connection, data: data}) }}
    </div>
    <backdrop-component data-loading="addClass(d-block)" class="card-backdrop"></backdrop-component>
</div>