{% extends 'content.html.twig' %}

{% block title %}Gestionar servidores{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h3 class="text-dark mb-4">Gestionar servidores</h3>
        </div>
        {{ component('Breadcrumb', {
            options: [
                {label: 'Inicio', href: path('app_home')},
                {label: 'Servidores', href: path('server_index')},
                {label: 'Lista'},
            ],
            current: 'Lista'
        }) }}
    </div>

    <div data-controller="connection-list-table" data-action="submit-form-async:success->connection-list-table#closeModal">
        {{ include('partials/_index_container.html.twig', {
            list: 'server/_list.html.twig',
            rest_data_action: 'page:onChangeState->content-loader#refreshContent'
        }) }}

        {{ component('ModalForm', {
            title: 'Reportar equipo',
            src: 'App\\Controller\\ReportController::new',
            vars: {'modal': true},
            type: 'controller',
            id: 'new-report'
        }) }}
    </div>
{% endblock %}
