{% extends 'content.html.twig' %}

{% block title %}Cámera{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h3 class="text-dark mb-4">Datos de la cámara</h3>
        </div>
        {{ component('Breadcrumb', {
            options: [
                {label: 'Inicio', href: path('app_home')},
                {label: 'Cámara', href: path('camera_index')},
                {label: 'Detalle'},
            ],
            current: 'Detalle'
        }) }}
    </div>

    {{ include('commutator/_detail.html.twig', {'showButton': true, 'title': title}) }}
{% endblock %}
