{% extends 'base.html.twig' %}

{% block title %}Edit Commutator{% endblock %}

{% block body %}
    <h1>Edit Commutator</h1>

    {{ include('crud_commutator/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_crud_commutator_index') }}">back to list</a>

    {{ include('crud_commutator/_delete_form.html.twig') }}
{% endblock %}
