{% extends 'base.html.twig' %}

{% block title %}New Commutator{% endblock %}

{% block body %}
    <h1>Create new Commutator</h1>

    {{ include('crud_commutator/_form.html.twig') }}

    <a href="{{ path('app_crud_commutator_index') }}">back to list</a>
{% endblock %}
