{% extends 'content.html.twig' %}

{% block title %}Listado de conexiones directas{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h3 class="text-dark mb-4">Listado de conexiones directas</h3>
        </div>
        {{ component('Breadcrumb', {
            options: [
                {label: 'Inicio', href: path('app_home')},
                {label: 'Conexiones', href: path('connection_index')},
                {label: 'Conexion directa', href: '#'},
                {label: 'Listado'},
            ],
            current: 'Listado'
        }) }}
    </div>

    {{ component('ConnectionList', {
        title: 'Conexiones directas',
        newHref: path('connection_direct_new'),
        connection: constant('App\\Entity\\Enums\\ConnectionType::Direct'),
        filter: filter
    }) }}
{% endblock %}
