{% extends 'base.html.twig' %}

{% block title %}Edit StructuredCable{% endblock %}

{% block body %}
    <h1>Edit StructuredCable</h1>

    {{ include('structured_cable/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('structured_cable/_delete_form.html.twig') }}
{% endblock %}
