<div class="col">

        <ul class="list-group list-group-horizontal list-group-flush border-0">
            <li class="list-group-item w-50 fw-bold" style="border-radius: 0">
                Modelo
            </li>
            <li class="list-group-item w-50" style="border-radius: 0">
                modelo camara
            </li>
            <li class="list-group-item w-10" style="border-radius: 0">
                <i class="fas fa-edit text-dark"
                   data-action="click->live#action"
                   data-action-name="prevent|activateEditing"
                   title="Click para editar!"
                ></i>
            </li>
        </ul>

        <ul class="list-group list-group-horizontal list-group-flush border-0">
            <li class="list-group-item w-50 fw-bold" style="border-radius: 0">
                Marca
            </li>
            <li class="list-group-item w-50" style="border-radius: 0">
                marca camara
            </li>
            <li class="list-group-item w-10" style="border-radius: 0">
                <i class="fas fa-edit text-dark"
                   data-action="click->live#action"
                   data-action-name="prevent|activateEditing"
                   title="Click para editar!"
                ></i>
            </li>
        </ul>

        <ul class="list-group list-group-horizontal list-group-flush border-0">
            <li class="list-group-item w-50 fw-bold" style="border-radius: 0">
                Numero de serie
            </li>
            <li class="list-group-item w-50" style="border-radius: 0">
                abc-123
            </li>
            <li class="list-group-item w-10" style="border-radius: 0">
                <i class="fas fa-edit text-dark"
                   data-action="click->live#action"
                   data-action-name="prevent|activateEditing"
                   title="Click para editar!"
                ></i>
            </li>
        </ul>

        <ul class="list-group list-group-horizontal list-group-flush border-0">
            <li class="list-group-item w-50 fw-bold" style="border-radius: 0">
                Inventario
            </li>
            <li class="list-group-item w-50" style="border-radius: 0">
                741
            </li>
            <li class="list-group-item w-10" style="border-radius: 0">
                <i class="fas fa-edit text-dark"
                   data-action="click->live#action"
                   data-action-name="prevent|activateEditing"
                   title="Click para editar!"
                ></i>
            </li>
        </ul>

        <ul class="list-group list-group-horizontal list-group-flush border-0">
            <li class="list-group-item w-50 fw-bold" style="border-radius: 0">
                Contic
            </li>
            <li class="list-group-item w-50" style="border-radius: 0">

            </li>
            <li class="list-group-item w-10" style="border-radius: 0">
                <i class="fas fa-edit text-dark"
                   data-action="click->live#action"
                   data-action-name="prevent|activateEditing"
                   title="Click para editar!"
                ></i>
            </li>
        </ul>

        <ul class="list-group list-group-horizontal list-group-flush border-0">
            <li class="list-group-item w-50 fw-bold" style="border-radius: 0">
                Provincia
            </li>
            <li class="list-group-item w-50" style="border-radius: 0">
                La Habana
            </li>
            <li class="list-group-item w-10" style="border-radius: 0">
                <i class="fas fa-edit text-dark"
                   data-action="click->live#action"
                   data-action-name="prevent|activateEditing"
                   title="Click para editar!"
                ></i>
            </li>
        </ul>

        <ul class="list-group list-group-horizontal list-group-flush border-0">
            <li class="list-group-item w-50 fw-bold" style="border-radius: 0">
                Municipio
            </li>
            <li class="list-group-item w-50" style="border-radius: 0">
                10 de Octubre
            </li>
            <li class="list-group-item w-10" style="border-radius: 0">
                <i class="fas fa-edit text-dark"
                   data-action="click->live#action"
                   data-action-name="prevent|activateEditing"
                   title="Click para editar!"
                ></i>
            </li>
        </ul>

        <ul class="list-group list-group-horizontal list-group-flush border-0">
            <li class="list-group-item w-50 fw-bold" style="border-radius: 0">
                Direccion fisica
            </li>
            <li class="list-group-item w-50" style="border-radius: 0">
                Calle Georgia
            </li>
            <li class="list-group-item w-10" style="border-top-right-radius: 0;border-bottom-right-radius: var(--bs-card-inner-border-radius);">
                <i class="fas fa-edit text-dark"
                   data-action="click->live#action"
                   data-action-name="prevent|activateEditing"
                   title="Click para editar!"
                ></i>
            </li>
        </ul>
</div>