{% extends 'base.html.twig' %}

{% block title %}Edit Province{% endblock %}

{% block body %}
    <h1>Edit Province</h1>

    {{ include('province/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_province_index') }}">back to list</a>

    {{ include('province/_delete_form.html.twig') }}
{% endblock %}
