{% extends 'base.html.twig' %}

{% block title %}New Province{% endblock %}

{% block body %}
    <h1>Create new Province</h1>

    {{ include('province/_form.html.twig') }}

    <a href="{{ path('app_province_index') }}">back to list</a>
{% endblock %}
