{% extends 'content.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block content %}
    <h3 class="text-dark mb-4">Gestión de usuarios y roles</h3>
    {% embed "layout/table.html.twig" with {'total': users.count} %}
        {% block card_title %}
            Usuarios y roles
        {% endblock %}

        {% block table_head %}
            <tr>
                <th>Nombre y Apellidos</th>
                <th>Usuario</th>
                <th>Rol usuario</th>
                <th>Rol técnico</th>
                <th>Rol oficial</th>
                <th>Rol jefe</th>
                <th>Rol admin</th>
            </tr>
        {% endblock %}

        {% block table_body %}
            {% for user in users %}
                <tr>
                    <td>{{ user.getFullName() }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        <div class="form-check form-switch">
                            <input type="checkbox" disabled checked>
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input type="checkbox" user="" rol="">
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input type="checkbox" user="" rol="">
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input type="checkbox" user="" rol="">
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input type="checkbox" user="" rol="">
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}

        {% block table_footer %}
            {#                    <tr> #}
            {#                        <td><strong>Name</strong></td> #}
            {#                        <td><strong>Position</strong></td> #}
            {#                        <td><strong>Office</strong></td> #}
            {#                        <td><strong>Age</strong></td> #}
            {#                        <td><strong>Start date</strong></td> #}
            {#                        <td><strong>Salary</strong></td> #}
            {#                    </tr> #}
        {% endblock %}
    {% endembed %}
{% endblock %}
