<div class="col-8" {{ attributes }}>
    {% if ports is not null %}
        <h4>Puertos:</h4>
        <hr>
        <div class="row">
            {% for port in ports %}
                {{ include('components/live/connection_commutator/_port_detail.html.twig') }}
            {% endfor %}
        </div>
    {% endif %}
</div>