<div class="col-8" {{ attributes }}>
    <h4>Puertos:</h4>
    <hr>
    <div class="row">
        {% for port in ports %}
            {{ component('PortDetail', {
                port: port,
                data: port.speed,

                selected: (selected == port.id)
            }) }}
        {% endfor %}

        {#        <div class="col-3 mb-4">#}
        {#            <div class="card text-white bg-gradient-danger shadow">#}
        {#                <div class="card-body" style="padding: 0.5rem">#}
        {#                    <div class="row align-items-center no-gutters">#}
        {#                        <div class="col-auto">#}
        {#                            <i class="fas fa-circle fa-2x text-gray-300"></i>#}
        {#                            <div class="form-check form-switch">#}
        {#                                <input class="form-check-input" type="checkbox" role="switch">#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col me-2">#}
        {#                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>1 mb/s</span></div>#}
        {#                            <div class="text-dark fw-bold h5 mb-0"><span>Puerto 2</span></div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        {#        <div class="col-3 mb-4">#}
        {#            <div class="card text-white bg-gradient-primary shadow">#}
        {#                <div class="card-body" style="padding: 0.5rem">#}
        {#                    <div class="row align-items-center no-gutters">#}
        {#                        <div class="col-auto">#}
        {#                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>#}
        {#                            <div class="form-check form-switch">#}
        {#                                <input class="form-check-input" type="checkbox" role="switch">#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col me-2">#}
        {#                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>5 mb/s - C</span></div>#}
        {#                            <div class="text-dark fw-bold h5 mb-0"><span>Puerto 1</span></div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        {#        <div class="col-3 mb-4">#}
        {#            <div class="card text-white bg-primary shadow">#}
        {#                <div class="card-body" style="padding: 0.5rem">#}
        {#                    <div class="row align-items-center no-gutters">#}
        {#                        <div class="col-auto">#}
        {#                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>#}
        {#                            <div class="form-check form-switch">#}
        {#                                <input class="form-check-input" type="checkbox" role="switch">#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col me-2">#}
        {#                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>5 mb/s</span></div>#}
        {#                            <div class="text-dark fw-bold h5 mb-0"><span>Puerto 1</span></div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        {#        <div class="col-3 mb-4">#}
        {#            <div class="card text-white bg-primary shadow">#}
        {#                <div class="card-body" style="padding: 0.5rem">#}
        {#                    <div class="row align-items-center no-gutters">#}
        {#                        <div class="col-auto">#}
        {#                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>#}
        {#                            <div class="form-check form-switch">#}
        {#                                <input class="form-check-input" type="checkbox" role="switch">#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col me-2">#}
        {#                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>5 mb/s</span></div>#}
        {#                            <div class="text-dark fw-bold h5 mb-0"><span>Puerto 1</span></div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        {#        <div class="col-3 mb-4">#}
        {#            <div class="card text-white bg-gradient-success shadow">#}
        {#                <div class="card-body" style="padding: 0.5rem">#}
        {#                    <div class="row align-items-center no-gutters">#}
        {#                        <div class="col-auto">#}
        {#                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>#}
        {#                            <div class="form-check form-switch">#}
        {#                                <input class="form-check-input" type="checkbox" role="switch">#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col me-2">#}
        {#                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>5 mb/s - Sw</span></div>#}
        {#                            <div class="text-white fw-bold h5 mb-0"><span>Puerto 1</span></div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        {#        <div class="col-3 mb-4">#}
        {#            <div class="card text-white bg-gradient-danger shadow">#}
        {#                <div class="card-body" style="padding: 0.5rem">#}
        {#                    <div class="row align-items-center no-gutters">#}
        {#                        <div class="col-auto">#}
        {#                            <i class="fas fa-circle fa-2x text-gray-300"></i>#}
        {#                            <div class="form-check form-switch">#}
        {#                                <input class="form-check-input" type="checkbox" role="switch">#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col me-2">#}
        {#                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>1 mb/s</span></div>#}
        {#                            <div class="text-dark fw-bold h5 mb-0"><span>Puerto 2</span></div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        {#        <div class="col-3 mb-4">#}
        {#            <div class="card text-white bg-primary shadow">#}
        {#                <div class="card-body" style="padding: 0.5rem">#}
        {#                    <div class="row align-items-center no-gutters">#}
        {#                        <div class="col-auto">#}
        {#                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>#}
        {#                            <div class="form-check form-switch">#}
        {#                                <input class="form-check-input" type="checkbox" role="switch">#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col me-2">#}
        {#                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>5 mb/s - C</span></div>#}
        {#                            <div class="text-dark fw-bold h5 mb-0"><span>Puerto 1</span></div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        {#        <div class="col-3 mb-4">#}
        {#            <div class="card text-white bg-primary shadow">#}
        {#                <div class="card-body" style="padding: 0.5rem">#}
        {#                    <div class="row align-items-center no-gutters">#}
        {#                        <div class="col-auto">#}
        {#                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>#}
        {#                            <div class="form-check form-switch">#}
        {#                                <input class="form-check-input" type="checkbox" role="switch">#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col me-2">#}
        {#                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>5 mb/s</span></div>#}
        {#                            <div class="text-dark fw-bold h5 mb-0"><span>Puerto 1</span></div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        {#        <div class="col-3 mb-4">#}
        {#            <div class="card text-white bg-primary shadow">#}
        {#                <div class="card-body" style="padding: 0.5rem">#}
        {#                    <div class="row align-items-center no-gutters">#}
        {#                        <div class="col-auto">#}
        {#                            <i class="fas fa-check-circle fa-2x text-gray-300"></i>#}
        {#                            <div class="form-check form-switch">#}
        {#                                <input class="form-check-input" type="checkbox" role="switch">#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <div class="col me-2">#}
        {#                            <div class="text-uppercase text-white fw-bold text-xs mb-1"><span>5 mb/s</span></div>#}
        {#                            <div class="text-dark fw-bold h5 mb-0"><span>Puerto 1</span></div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>
</div>